#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
}

.info {
    line-height: 50px;
    font-size: 24px;
    color: white;
}

.contactInfo {
    color: white;
    text-decoration: underline;
}

#linkBox {
    padding-top: 50px;
}

.iconLink {
    text-decoration: none;
    color: black;
    padding: 0 20px 0 20px;
}