span {
    text-decoration: none;
    padding: 6px 15px;
    color: floralwhite;
}

body{
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 0 auto;
    background: black;
}

header{
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

#logo{
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0;
}

nav{
    float: right;
    height: 64px;
}

#navButtons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttons {
    display: inline-block;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.buttons:hover {
    color: white;
}

.headerLink {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#linkText {
    height: 100%;
    width: 100%;
}

.buttons::before{
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}
.buttons:hover::before{
    width: 100%;
}

body {
    padding-top: 60px;
}

@media (max-width: 930px) {
    .buttons {
        display: none;
    }
}
