#homeDiv {
    background: #6BA5F2;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

#homeText {
    position: relative;
    top: 200px;
}

#name {
    padding: 0;
    color: floralwhite;
    font-family: "Andale Mono"
}

#subHeadingHome {
    font-size: 24px;
}