#homeDiv {
    background: lightslategrey;
    text-align: center;
}

#homeText {
    position: relative;
    top: 200px;
}

#name {
    padding: 0;
    color: floralwhite;
    font-family: "Andale Mono"
}